bin/
*.meta
*.ll
*.s
!*.native.ll
*.exe
*.out
.DS_Store
!Mac.ll
!Linux.ll
!Main.ll
!NoArguments.ll
!Unwind*.ll
!Windows.ll
!Shared.ll

# Java files
*.jar
*.war
*.ear
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/*
/dependency-reduced-pom.xml
/sokoban

# Keep these around, they are required to run tests from the command line
!/target/shadow.xml
!/target/windows.xml
/target/
