@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

html 
{ 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0;
}

body 
{
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    min-width: 60em; 
    font-family: 'Source Sans Pro', sans-serif;
	background-color: #02182b;
	font-weight: 300;
	font-size: 100%;
	color: white;
}

h1, h2, h3, h4, h5, h6
{
	color: #a8d0e6;
	font-weight: 300;
}

.block h1, .block h2, .block h3, .block h4, .block h5, .block h6
{
	color: #096cc3;
	font-weight: 300;
}

h2
{  
	font-size: 2.2em;
}

h3
{  
	font-size: 1.6em;
}

h4
{    
	font-size: 1.3em;
}

h5
{    
	font-size: 1em;
}

hr
{
	color: white;
	border-color: white;
	background-color: white;
	border-style: solid;
}

th
{
	background-color: #a8d0e6;
	color: white;
}

table
{
    border: 1px solid #e1e4e5;
    background-color: white;
}

th, td
{
	border-bottom: 1px solid #e1e4e5;
    border-left: 1px solid #e1e4e5;
	vertical-align: text-top;
	padding: .5em .5em; 
}

td p, td a, td span
{
	vertical-align: text-top;	
}

tr.shaded
{
	background-color: #f2f4f5;
}

table
{
    border-collapse: collapse;
}

.header
{
	margin: 0em .5em;	
}

.header p
{
    margin: .5em 0em;
}

.header h2
{
    margin: .5em 0em .5em;
}

.header h4
{
    margin: 1.25em 0 .25em;
}

.block
{
    border: 0.1em solid white;   
    padding: 0 .5em .5em .5em;
    margin: .5em;
	color: #000;
	
	background-color: #f2f4f5;
	
}

.block h3
{
    margin: .75em 0em;    
}

.block p 
{    
    margin: .5em 0 0;
}

.header .detail
{
	/*
    border: 0.1em solid white;
    background-color: #a8d0e6;
	*/
	border-style: none;
	color: white;
    padding: 0 0 .5em 0;
    margin: 0 0 .5em;
	background-color: transparent;
}

.detail
{
	border: 0.1em solid #a8d0e6;
    padding: 0 0 .5em .5em;
    margin: 0 0 .5em;
	background-color: white;
}

.detail h4
{
    margin: .5em 0;    
}

.detail h5
{
    margin: .75em 0 .5em;
}

.blocktagcontent
{
    margin: 0 0 0 .75em;
}

.navlist
{
    border-bottom: 0.1em solid white;
    background-color: #096cc3;
    margin-bottom: .5em;
	color: white;
}

.navlist b, .navlist strong
{
	color: inherit;
	background-color: #02182b;
	padding: .25em;
}

.navlist a { text-decoration: none; color:inherit; border-bottom-color: rgba(255, 255, 255, 0);  }
.navlist a:hover { color: #02182b; background-color: #a8d0e6;}


.navlist ul
{
	float: left;
    margin: .25em;
    padding: 0;
}

.navlist li
{
    display: inline;
    padding-right: .3em;
}

.navlist span
{
	float: right;
	padding-right: 0;
	margin: .25em;
}

pre, code, tt {
  font-family: "Courier New", monospace, serif;
  _font-family: "courier new", monospace;
  
  /*
  background: rgba(0, 0, 0, 0.05);
border-color: rgba(0, 0, 0, 0.2);
border-radius: 4px;
font-family: "Courier New", monospace;
font-size: 0.9em;
padding: 0.25em 0.325em;
*/
		border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
  border: none;
}

pre {
  white-space: pre;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

b, strong
{
	color: #d7263d;
	font-weight: 300;	
}

.header a {
	color: inherit;
}

a { 
	text-decoration: none; 
	color: #096cc3;
	border-bottom: dotted 1px rgba(9, 108, 195, 0.5);  
}
a:hover { color: #d7263d; border-bottom-color: rgba(255, 255, 255, 0); }
