html 
{ 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0;
}

body 
{
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    min-width: 60em; 
    font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: white;	
	font-size: 90%;
}

h2
{  
	font-size: 2.2em;
}

h3
{  
	font-size: 1.6em;
}

h4
{    
	font-size: 1.3em;
}

hr
{
	color: white;
	border-color: white;
	background-color: white;
	border-style: solid;
}

th
{
	border: 0.1em solid white;
	background-color: rgb(81, 53, 115);
	color: white;
}

table
{
    border: 0.1em solid white;
    background-color: white;
}

td
{
	border: 0.1em solid white;	
}

th, td
{
    padding: .5em .5em; 
}

tr.shaded
{
	background-color: rgb(229,218,242);
}

table
{
    border-collapse: collapse;
}

.header
{
	margin: 0em .5em;	
}

.header p
{
    margin: .5em 0em;
}

.header h2
{
    margin: .5em 0em .5em;
}

.header h4
{
    margin: 1.25em 0 .25em;
}

.header code
{
	font-size: 150%;	
}

.block
{
    border: 0.1em solid white;   
    padding: 0 .5em .5em .5em;
    margin: .5em;
	
	background-color: rgb(225, 225, 225);
	
}

.block h3
{
    margin: .75em 0em;    
}

.block p 
{    
    margin: .5em 0 0;
}

code
{
    font-size: 125%;
}

.detail
{
    border: 0.1em solid white;
    background-color: white;
    padding: 0 .5em .5em;
    margin: 0 0 .5em;
}

.detail h4
{
    margin: .5em 0;    
}

.detail h5
{
    margin: .75em 0 .5em;
}

.blocktagcontent
{
    margin: 0 0 0 .75em;
}

.navlist
{
    border-bottom: 0.1em solid white;
    background-color: rgb(2, 77, 58);
    margin-bottom: .5em;
	color: white;
}

.navlist ul
{
	float: left;
    margin: .25em;
    padding: 0;
}

.navlist li
{
    display: inline;
    padding-right: .3em;
}

.navlist span
{
	float: right;
	padding-right: 0;
	margin: .25em;
}


a { text-decoration: none; color:inherit;  }
a:hover { text-decoration: underline; }
